{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% trans "Periodic Table of the Elements" %}{% endblock %}
{% block content %}
<table><tbody>
{% for prd in main_table %}
<tr class="dpt_period">{% for grp in prd %}
{% if grp %}{% with element=grp %}
    <td>{% include 'django_periodic_table/element.html' %}{% endwith %}
{% else %}<td class="dpt_blank">
{% endif %}</td>{% endfor %}{# /group #}
</tr>{% endfor %}{# /period #}
</tbody><tbody>
<tr><td colspan="18">&nbsp;</td></tr>
</tbody><tbody>
<tr id="dpt_lanthanides" class="dpt_period">
<td colspan="2">Lanthanides:</td>{% for e in lanthanides %}{% with element=e %}
<td>{% include 'django_periodic_table/element.html' %}</td>
{% endwith %}{% endfor %}</tr>
<tr id="dpt_actinides" class="dpt_period">
<td colspan="2">Actinides:</td>{% for e in actinides %}{% with element=e %}
<td>{% include 'django_periodic_table/element.html' %}</td>
{% endwith %}{% endfor %}</tr>
</tbody></table>
{% endblock content %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/periodictable.css' %}">
{% endblock %}
